@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: #faf9f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
